rag-pipeline-support-agent/workflow/rag_pipeline.json
{
  "name": "RAG Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4432,
        976
      ],
      "id": "22e55a0b-dabc-40be-8f79-bd532b2701ac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "doc",
          "mode": "list",
          "cachedResultName": "doc"
        },
        "options": {
          "queryName": "match_doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -3664,
        976
      ],
      "id": "04e1d893-2c3f-469f-9e6d-e2dd70452325",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -3616,
        1184
      ],
      "id": "096d8b7a-6ce0-4883-8a4c-d915daafff2c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2912,
        1088
      ],
      "id": "4a9e1b6e-c35f-4e94-a5be-46d305e5241f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -3936,
        704
      ],
      "id": "3d1eff5b-41b0-4265-aa0a-a47d2d3c9ca4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Initial Vectorization\n",
        "height": 384,
        "width": 1904,
        "color": "#592741"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4672,
        896
      ],
      "id": "d3ca6022-4d9c-4447-9e1d-c6b8313bbb95",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG Agent",
        "height": 496,
        "width": 1904,
        "color": "#18324E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4672,
        400
      ],
      "id": "cade78c8-4dc8-4d58-8016-9fe464369a0b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Auto Update Vectors",
        "height": 352,
        "width": 1904
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4672,
        1248
      ],
      "id": "6b10279f-ea3d-4133-8aa2-2cca2231bf83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $('Update File Trigger').item.json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -3520,
        1472
      ],
      "id": "09086459-7c4c-45c2-a757-b6decd3fb61b",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update File Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4000,
        1344
      ],
      "id": "10149636-095f-407a-a882-665510f15701",
      "name": "Download file1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Auto Delete File\n",
        "height": 304,
        "width": 1904,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4672,
        1936
      ],
      "id": "ed548add-a322-4fba-927a-778b5e60c260",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_URL"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4464,
        1344
      ],
      "id": "03129096-3233-414f-88a0-78395e308c42",
      "name": "Update File Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Recycle Bin",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_URL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4400,
        1984
      ],
      "id": "a429a7e0-fa94-4d13-b83f-eb8a6fa0d481",
      "name": " Delete File Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3968,
        1680
      ],
      "id": "f66cafa2-a3bf-4a61-8f40-06f6dbe2a6db",
      "name": "Download file2",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Auto Add New File",
        "height": 352,
        "width": 1904,
        "color": "#483528"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4672,
        1584
      ],
      "id": "44ce6b26-d861-4db3-9b06-b53719f36656",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "RAG Pipeline",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_URL"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4176,
        1680
      ],
      "id": "edc0fa29-d545-497f-8aff-e307d9b14714",
      "name": "Add New File  Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName:",
                "value": "={{ $json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -3440,
        1808
      ],
      "id": "3f45558d-25d9-423d-9038-35ca490c1905",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "=You are a ShopNest customer support assistant.\n\nYou have access to a knowledge base tool. Use it to answer customer questions.\n\nRules:\n- Search the knowledge base for every question\n- Answer using only what you find\n- If not found, say \"I don't have that information available\"\n- Keep answers short and clear\n- End every answer with \"Is there anything else I can help you with?\"\n- For greetings like Hi or Hello, just welcome the customer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3904,
        480
      ],
      "id": "fa80712b-07ab-4c79-8126-3fcd217cf041",
      "name": "RAG Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "doc",
          "mode": "list",
          "cachedResultName": "doc"
        },
        "options": {
          "queryName": "match_doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -3776,
        1344
      ],
      "id": "10e93226-6835-4755-bb05-08cd2de59f1e",
      "name": "File Updated Upload to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "doc",
        "filters": {
          "conditions": [
            {
              "keyName": "=metadata->>fileName",
              "condition": "eq",
              "keyValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4160,
        1984
      ],
      "id": "c32d091d-ce9f-4dba-85b6-3c7b18a5f71e",
      "name": "Delete old file from supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "doc",
          "mode": "list",
          "cachedResultName": "doc"
        },
        "options": {
          "queryName": "match_doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -3712,
        1680
      ],
      "id": "047648c4-696c-47d1-87f8-ae2afb55f01d",
      "name": "New file added uploaded to supabase",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -5216,
        1296
      ],
      "id": "b8e69e99-2a25-44a8-93a9-744c8a3a95b5",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=⚠️ RAG Pipeline Failed: {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "=Hello,\n\nThis is an automated notification to inform you that a workflow execution has failed.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nWORKFLOW DETAILS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nWorkflow Name: {{ $json.workflow.name }}\nWorkflow ID: {{ $json.workflow.id }}\nExecution ID: {{ $json.execution.id }}\nExecution Mode: {{ $json.execution.mode }}\nFailed Node: {{ $json.execution.lastNodeExecuted }}\nTimestamp: {{ $now.toFormat(\"MMMM d, yyyy - HH:mm:ss\") }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nERROR INFORMATION\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.execution.error.message }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nACTION REQUIRED\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPlease review the workflow execution and take appropriate action.\nView execution details: {{ $json.execution.url }}\n\nThanks!\n\nRegards,\nn8n ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4896,
        1296
      ],
      "id": "a64cef43-6919-4c51-a07c-b516c1f5bd86",
      "name": "Send a message",
      "webhookId": "9742de97-5392-4103-8cc3-8d673c3ac8ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "RAG Pipeline - Workflow Summary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WorkflowSummary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name ": "={{ $json.data[0].metadata.fileName }}",
            "Event ": "File Updated",
            "TimeStamp": "={{ $now }}",
            "Status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File Name ",
              "displayName": "File Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event ",
              "displayName": "Event ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chunks",
              "displayName": "Chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3120,
        1344
      ],
      "id": "beedaa5b-3910-48bb-b45a-7ac9bbbbf1ce",
      "name": "Update Existing File to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "RAG Pipeline - Workflow Summary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WorkflowSummary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name ": "={{ $json.metadata['fileName:'] }}",
            "Event ": "New File Added",
            "TimeStamp": "={{ $now }}",
            "Status": "Success",
            "Chunks": "={{ $json.pageContent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File Name ",
              "displayName": "File Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event ",
              "displayName": "Event ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chunks",
              "displayName": "Chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3232,
        1680
      ],
      "id": "5dfc72ba-2177-44e9-97bc-1c61b20967f6",
      "name": "Add New File to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "RAG Pipeline - Workflow Summary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WorkflowSummary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name ": "={{ $json.metadata.fileName }}",
            "Event ": "Initial Load",
            "TimeStamp": "={{ $now }}",
            "Status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File Name ",
              "displayName": "File Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event ",
              "displayName": "Event ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chunks",
              "displayName": "Chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3264,
        976
      ],
      "id": "4de97a71-b00e-4db4-93ee-6c87619568e4",
      "name": "Add File to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "RAG Pipeline - Workflow Summary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WorkflowSummary",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name ": "={{ $json.metadata.fileName }}",
            "Event ": "File Deleted",
            "TimeStamp": "={{ $now }}",
            "Status": "Success",
            "Chunks": "={{ $json.pageContent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File Name ",
              "displayName": "File Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event ",
              "displayName": "Event ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chunks",
              "displayName": "Chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3888,
        1984
      ],
      "id": "6cefc151-605f-4e60-bc49-7dcc789075fe",
      "name": "Delete File ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3952,
        976
      ],
      "id": "97a476d5-b14a-403c-afca-4aa57f2ada58",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "RAG Pipeline",
            "cachedResultUrl": "REPLACE_WITH_GOOGLE_DRIVE_FOLDER_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4208,
        976
      ],
      "id": "1844fb1a-ac71-4932-89f7-13dcfcde10a7",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3360,
        1344
      ],
      "id": "0c866822-7158-45ee-ae9b-dbbaa5b82c23",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use this tool to search the shopnest knowledge base. \nInput must be a search query string about shopnest \nproducts, shipping, returns, refunds, or policies.",
        "tableName": {
          "__rl": true,
          "value": "doc",
          "mode": "list",
          "cachedResultName": "doc"
        },
        "topK": 8,
        "options": {
          "queryName": "=match_doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -3808,
        704
      ],
      "id": "83672858-b0e2-43e8-970a-1ec8529af959",
      "name": "Supabase Vector Store (Retrieve)",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -4400,
        480
      ],
      "id": "3065aea3-acdb-4919-82c8-cb2e66c02e00",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Failed workflow email — Error Trigger",
        "height": 368,
        "width": 592,
        "color": "#622928"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5280,
        1168
      ],
      "id": "a8380dff-4c5b-4e9f-99e8-d93474f55841",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3456,
        480
      ],
      "id": "73b4d316-f133-46e4-bc40-880af0016fbc",
      "name": "Reply to a message",
      "webhookId": "67dc9c55-f754-464b-9c33-ca104afd75f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "REPLACE_WITH_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4176,
        480
      ],
      "id": "3a12958b-517c-4059-b4fa-070187b0101a",
      "name": "Customer Support Label",
      "webhookId": "fb83410a-fe92-4b45-a4ec-d4fbd4657cfc",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "doc",
        "filters": {
          "conditions": [
            {
              "keyName": "=metadata->>fileName",
              "condition": "eq",
              "keyValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        1344
      ],
      "id": "0b0334ea-3867-462c-a199-3926787e057b",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "File Updated Upload to Supabase",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store (Retrieve)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "New file added uploaded to supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "File Updated Upload to Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "File Updated Upload to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File Trigger": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Delete File Trigger": {
      "main": [
        [
          {
            "node": "Delete old file from supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "New file added uploaded to supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New File  Trigger": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "New file added uploaded to supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete old file from supabase": {
      "main": [
        [
          {
            "node": "Delete File ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Add File to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated Upload to Supabase": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New file added uploaded to supabase": {
      "main": [
        [
          {
            "node": "Add New File to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File to Sheet": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update Existing File to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (Retrieve)": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Customer Support Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        []
      ]
    },
    "Customer Support Label": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "REPLACE_WITH_ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "REPLACE_WITH_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_WITH_INSTANCE_ID"
  },
  "id": "REPLACE_WITH_WORKFLOW_ID",
  "tags": []
}